<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../style/globals.css">
    <link rel="stylesheet" href="../style/portal-layout.css">
    <link rel="stylesheet" href="../style/chat.css">
    <title>Chat</title>
</head>

<body>

    <nav class="nav__container" data-collapsed="false">
        <div class="nav__header">
            <img src="../../public/small-logo.png" alt="logo">
            <h2>Santuario</h2>
        </div>
        <div class="nav__menu">
            <ul>
                <li class="nav__menu--item">
                    <a href="./request.html">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                        <span>Solicitud</span>
                    </a>
                </li>
    
                <li class="nav__menu--item">
                    <a href="./other-services.html">
                        <span class="material-symbols-outlined">
                            library_add
                        </span>
                        <span>Otros Servicios</span>
                    </a>
                </li>
    
                <li class="nav__menu--item active">
                    <a href="./chat.html">
                        <span class="material-symbols-outlined">
                            chat
                        </span>
                        <span>Chat</span>
                    </a>
                </li>
            </ul>
        </div>

        <button class="nav__collapse__btn">
            <span class="material-symbols-outlined">
                left_panel_close
            </span>
            <span class="material-symbols-outlined">
                left_panel_open
            </span>
        </button>

        <button class="logout__btn">Salir</button>
    </nav>
    
    <main class="view__container">
        <section id="chat">

            <div class="message__container">
                <!-- here goes the messages -->
            </div>
    
            <form class="chat__bar">
                <input type="text" autocomplete="off" class="chat__input" name="chat-input" id="chat-input" placeholder="Escribe un mensaje">
                <button class="send__button">
                    <img src="../images/direct-right.png" alt="">
                </button>
            </form>
    
        </section>
    </main>

    <script src="../use-cases/user-is-login.js"></script>
    <script src="../use-cases/portal-nav.js"></script>
    <script src="../use-cases/chat.js"></script>
</body>

</html>