<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../style/globals.css">
    <link rel="stylesheet" href="../style/portal-layout.css">
    <link rel="stylesheet" href="../style/request.css">
    <title>Solicitud</title>
</head>

<body>

    <nav class="nav__container" data-collapsed="false">
        <div class="nav__header">
            <img src="../../public/small-logo.png" alt="logo">
            <h2>Santuario</h2>
        </div>
        <div class="nav__menu">
            <ul>
                <li class="nav__menu--item active">
                    <a href="./request.html">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                        <span>Solicitud</span>
                    </a>
                </li>
    
                <li class="nav__menu--item">
                    <a href="./other-services.html">
                        <span class="material-symbols-outlined">
                            library_add
                        </span>
                        <span>Otros Servicios</span>
                    </a>
                </li>
    
                <li class="nav__menu--item">
                    <a href="./chat.html">
                        <span class="material-symbols-outlined">
                            chat
                        </span>
                        <span>Chat</span>
                    </a>
                </li>
            </ul>
        </div>

        <button class="nav__collapse__btn">
            <span class="material-symbols-outlined">
                left_panel_close
            </span>
            <span class="material-symbols-outlined">
                left_panel_open
            </span>
        </button>

        <button class="logout__btn">Salir</button>
    </nav>
    
    <main class="view__container">

        <div class="content__main__form__request">

            <div class="main__form__request" id="mainFormRequest">

                <div class="main__form__request__view">
                    <div class="content__button__create__new__request">
                        <button class="button__form__request" id="button__create__new__request">
                            Nueva solicitud
                        </button>
                    </div>

                    <div class="content__request">
                        <h1>Mis solicitudes</h1>

                        <table class="table__request">
                            <thead>
                                <tr>
                                    <th>No. Solicitud</th>
                                    <th>Estado</th>
                                    <th>Paciente</th>
                                    <th>Encargado</th>
                                    <th>Forma de Pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
    
                <div class="main__form__request__view">
                    <div class="main__form__request__view__header">
                        <h1>
                            Solicitud de ingreso
                        </h1>
                        <h2>
                            Informacion personal del paciente
                        </h2>
                    </div>

                    <div class="content__request__form">

                        <div>
                            <div class="request__input" >
                                <label for="name">Nombre(s)</label>
                                <input name="name" type="text" id="name">
                            </div>
    
                            <div class="request__input" >
                                <label for="birthDate">Fecha de nacimiento</label>
                                <input name="birthDate" type="date" id="birthDate">
                            </div>
    
                            <div class="request__input" >
                                <label for="maritalStatus">Estado civil</label>
                                <input name="maritalStatus" type="text" id="maritalStatus">
                            </div>
    
                            <div class="request__input" >
                                <label for="identityDocument">Documento de identidad </label>
                                <input name="identityDocument" type="text" id="identityDocument">
                            </div>
                        </div>

                        <div>
                            <div class="request__input" >
                                <label for="lastName">Apellido(s)</label>
                                <input name="lastName" type="text" id="lastName">
                            </div>
    
                            <div class="request__input">
                                <label for="gender">Género</label>
                                <input name="gender" type="text" id="gender">
                            </div>
    
                            <div class="request__input" >
                                <label for="nationality">Nacionalidad</label>
                                <input name="nationality" type="text" id="nationality">
                            </div>
                        </div>

                    </div>
                </div>
    
                <div class="main__form__request__view">
                    <div class="main__form__request__view__header">
                        <h1>
                            Solicitud de ingreso
                        </h1>
                        <h2>
                            Informacion de contacto del encargado
                        </h2>
                    </div>

                    <div class="content__request__form">

                        <div>
                            <div class="request__input" >
                                <label for="name_mandated">Nombre(s)</label>
                                <input name="name_mandated" type="text" id="name_mandated">
                            </div>
    
                            <div class="request__input" >
                                <label for="personalPhone_mandated" >Teléfono personal</label>
                                <input name="personalPhone_mandated" type="text" id="personalPhone_mandated">
                            </div>
    
                            <div class="request__input" >
                                <label for="mail_mandated">Correo electronico</label>
                                <input name="mail_mandated" type="text" id="mail_mandated">
                            </div>
    
                            <div class="request__input" >
                                <label for="jobPhone_mandated">Teléfono de trabajo</label>
                                <input name="jobPhone_mandated" type="text" id="jobPhone_mandated">
                            </div>
                        </div>

                        <div>
                            <div class="request__input" >
                                <label for="lastName_mandated">Apellido(s)</label>
                                <input name="lastName_mandated" type="text" id="lastName_mandated">
                            </div>

                            <div class="request__input" >
                                <label for="address_mandated">Dirección</label>
                                <input name="address_mandated" type="text" id="address_mandated">
                            </div>

                            <div class="request__input" >
                                <label for="jobName_mandated">Lugar de trabajo</label>
                                <input name="jobName_mandated" type="text" id="jobName_mandated">
                            </div>

                            <div class="request__input" >
                                <label for="identityDocument_mandated">Documento de identidad</label>
                                <input name="identityDocument_mandated" type="text" id="identityDocument_mandated">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="main__form__request__view" id="payment">
                    <div class="main__form__request__view__header">
                        <h1>
                            Solicitud de ingreso
                        </h1>
                    </div>

                    <div class="payment">
                        <div class="content__payment">
                            <h2>Forma de pago</h2>

                            <div>
                                <p>Tarjeta de credito</p>
                                
                                <div>
                                    <img class="img__payment" src="../../public/1.png" alt="Metodo de pago santuario">
    
                                    <img class="img__payment" src="../../public/4.png" alt="Metodo de pago santuario">
                                </div>
                            </div>
    
                            <div>
                                <p>Paypal</p>
                                
                                <div>
                                    <img class="img__payment" src="../../public/2.png" alt="Metodo de pago santuario">
                                </div>
                            </div>
    
                            <div>
                                <p>Transferencia</p>
                                
                                <div>
                                    <img class="img__payment" src="../../public/3.png" alt="Metodo de pago santuario">
                                </div>
                            </div>
                        </div>

                        <div class="content__form__payment">
                            <table>
                                <tr>
                                    <td>
                                        No. Tarjeta
                                    </td>
                                    <td>
                                        <input style="width: 300px;" type="text" class="payment__input" id="payment__input__card">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Nombre Tarjeta
                                    </td>
                                    <td>
                                        <input style="width: 300px;" type="text" class="payment__input" id="payment__input__name">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Fecha de vencimiento
                                    </td>
                                    <td>
                                        <input style="width: 100px;" type="date" class="payment__input" id="payment__input__date">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        CVV
                                    </td>
                                    <td>
                                        <input style="width: 100px;" type="text" class="payment__input" id="payment__cvv">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                
            </div>
            
            <div class="buttons__form__request" id="buttonsFormRequest">
                <button id="buttonBack" class="button__form__request">
                    Atrás
                </button>

                <button id="buttonNext" class="button__form__request">
                    Siguiente
                </button>
            </div>

        </div>

    </main>

    <script src="../use-cases/user-is-login.js"></script>
    <script src="../use-cases/portal-nav.js"></script>
    <script src="./request.js"></script>
</body>

</html>